*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
  }
ul {
   padding-left: 0 !important;
   list-style: none;
   margin-bottom: 0 !important;
 }

.row {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
   
}
.col {
    display: flex;
 }
 .col-half {
    display: flex;
    width: 50%;
 }
 .col-third {
  flex: 0 0 auto;
  width: 33.33333333%;
}
 
 .pull-right {
    float: right;
 }
 .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

#header {
    display: flex; 
    justify-content: center
  }
#header .header-top {
    width: 100%;
    height: 49px;
    line-height: 46px;
    justify-content: space-between;
    padding: 0 118px;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 61px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 77.2%;
    
 }
 #header .top-contact i {
  margin: 0 8px;
 }
 
#header .top-footer {
    align-self: center;
    justify-content: end;
     align-items: center
    
}  
.header_icon li i {
    transform: translateX(20px);
    color: #bbbbbb;
  }
#header .header-mid {
    position: absolute;
    top: 60px;
    z-index: 3;
    display: flex;
    align-items: center;
    left: 48%;
    width: 73%;
    height: 90px;
    transform: translateX(-50%);
    background: #fff;
    padding-left: 20px;
    
}
.logo, .header-logo {
    height: 34px;
    width: 135px;
}
.control-header {
    display: flex;
    align-items: center;
    margin-left: 35px;
}
.control-list {
    display: flex;
    align-items: center;
}
.control-list li a {
    display: flex;
    align-items: center;
    color: black;
}
.control-list li a span {
    display: block;
    line-height: 60px;
    padding: 0 20px;
}
.search_header {
    position: absolute;
    right: -57px;
    top: 0;
    width: 57.2px;
    height: 90px;
    background: #fff;
  }
  .icon_search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }  

  /* body */
  .body_welcome {
    margin-top: 45px;
  }
  .body_welcome h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 16px;
  }
  .body_welcome p {
    margin: auto;
    width: 53%;
    text-align: center;
  }
  .button_body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  .button_signUp {
    background-color: #ea6f39;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 18px;
    position: relative;
    overflow: hidden;
    padding: 12px;
  }
.button_signUp::before,
.button_Read::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  top: 0;
  left: 0;
  transition: all 0.4s;
}
.button_signUp:hover::before,
.button_Read:hover::before {
  width: 100%;
}
.button_Read {
  background-color: #f7f7f7;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03),
    inset 0px 4px 3px -2px rgba(0, 0, 0, 0.07);
    padding: 12px;
}
.button_signUp i {
  font-size: 13px;
  color: #70341b;
  padding: 16px 13px 12px 14px;
  background-color: #e06936;
}
.button_Read i {
  font-size: 13px;
  color: black;
  padding: 16px 13px 12px 14px;
  background-color: #eaeaea;
}
.button_signUp span,
.button_Read span {
  font-size: 15px;
  padding-right: 18px;
}
.card_container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
  justify-content: center;
}
.card_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 376px;
}

.card_img {
  overflow: hidden;
  cursor: pointer;
  margin: 0 10px;
}
.card_wapper {
  width: 78%;
}
.card_img img {
  transform: scale(1);
  overflow: hidden;
  transition: transform 0.2s;
 
  
}
.card_img img:hover {
  transform: scale(1.2);
}
.card_title {
  font-size: 21px;
  text-align: center;
  margin-bottom: 25px;
}
.card_des {
  font-size: 13px;
  margin-top: 20px;
  text-align: center;
}
.button_body_other {
  display: flex;
  margin-top: 25px;
}
.card_infor {
  border-top: 1px solid #e3e3e3;
  padding-top: 50px;
}
.service_list {
  margin-top: 15px;
}
.service_list li {
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}
.service_list .line::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 0;
  background: #e3e3e3;
}
.service_list i {
  font-size: 14px;
  margin-right: 10px;
}
blockquote {
  font-weight: 600;
  font-size: 17px;
  line-height: 31px;
  display: block;
  height: auto;
  margin: 0 0 35px 25px !important;
  top: 15px;
  position: relative;
  background: url("./img/home/textline.png")
    repeat-y;
    
} 
.img_book_room {
  position: relative;
}
.book_room {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
 
}
.beach_card {
  position: relative;
}
.beach_card_infor {
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
}
.card_beach {
  max-width: 273px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list_service li {
  padding: 11px 0px;
  width: 100%;
  text-align: end;
}
.list_service .line_service,
.list_service_card .line_service {
  border-bottom: 1px solid rgb(247 235 235 / 34%);
}
.list_service_card li {
  padding: 11px 0px;
  width: 100%;
  text-align: center;
}
.img_beach {
  height: 1000px;
}

.icon_list {
  display: flex;
  justify-content: end;
}
.icon_list li a{
  padding:  0 12px;
  color:#bbbbbb;
}
.icon_list li a:hover{
  color: #ffffff;
}
/* Scroll-header */

.scroll-header{
  width: 100%;
  height: 79px;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  display: none;
   z-index: 1;
   animation: FadeIn ease 0.3s;
}
@keyframes FadeIn{
  from{
      opacity: 0;
      transform: translateY(-50px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}

.scroll-header .header-search-btn{
      float: right;
      display: block;
      font-size: 18px;
      background-color: none;
      height: 100%;
      padding: 0px 15px 0 20px;
      position: absolute;
      right: 0;
      top: 28px;

}


.header-with-search{
    width: 1100px;
    max-width: 90%;
    height: 93px;
    background-color: #fff;
    margin-top: -450px;
    margin-bottom: 50px;
    margin-left: 45px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.header-logo img {
    width: 145px;
    padding-left: 20px;
}
.header-nav{
    margin-left: 50px;
    background-color: #fff;
    width: 930px;
    position: relative;
}
.header-nav .header-nav-list {
   display: flex;
   list-style-type: none;
}
.header-nav .header-nav-list li a{
    text-decoration: none;
    color: #444444;
    padding: 0 20px;
}

.header-nav .header-nav-list li a:hover{
    color: #ED703A;
}

.header-nav .header-nav-list--seperate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ebedf0;
    height: 55px;
    top: 50%;
    transform: translateY(-50%);
}

.header-with-search .header-search-btn
{
    float: right;
    display: block;
    font-size: 18px;
    background-color: #ede9e9;
    height: 100%;
    padding: 35px 15px 0 20px;
}